
@import url("base.css");
@import url("header.css");
@import url("archive.css");
@import url("product.css");
@import url("article.css");
@import url("homepage.css");

@import url('../js/splide/dist/css/themes/splide-skyblue.min.css');
/* base Now todo to clean up */

.about-us-image img {
    width: 100%;
    height: auto;

}

.footer-wrap {
    padding: 20px 200px 20px;
}

@media screen and (max-width: 1500px) {
    .footer-wrap  {
        padding: 20px 100px 20px;
    }
}


@media screen and (max-width: 1150px) {
    .footer-wrap  {
        padding: 20px 50px 20px;
    }
}

@media screen and (max-width: 640px) {
    .footer-wrap  {
        padding: 20px ;
    }
}